.img-box img {
	max-width:100%;
	height:auto;
}

.img-box {
	border-style: solid;
	border-color: #33FFFF;
	text-align: center;
}

.container h2 {
	margin-bottom: 40px;
}

#the-chosen-one {
	border-color: #FFFF33;
}